.recommeded-friends {
  margin: 20px 0px;
  padding: 20px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommeded-friends h4 {
  color: rgba(0, 0, 0, 0.4);
}

.recommeded-friends span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  opacity: 0.8;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__column {
  position: relative;
}

.open-post__column h4 {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.open-post__column h5 {
  font-size: 18px;
  opacity: 0.8;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.6;
}

.open-post__column .divider {
  width: 2px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 7px;
}

.open-post__status {
  text-transform: capitalize;
  color: #f559b7;
}

.open-post__avatar {
  width: 120px;
  height: 120px;
  border-radius: 20px;
}

.open-post__good {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 15px;
  right: 15px;
  font-size: 14px;
}

.open-post__good span {
  margin-left: 5px;
}
