#friends-display-link {
  display: block;
  width: 100%;
  background-color: #fafafa;
  padding: 15px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
