#friends-display-link {
  display: block;
  width: 100%;
  background-color: #fafafa;
  padding: 15px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.channel-component {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.channel-component__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 0.4);
}
