.setting-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 22px;
}

.setting-list__item i {
  margin-right: 20px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.setting-list__column:last-child {
  opacity: 0.4;
}
